.display-container {
    background-color: #fbfbfb;
    /* background-color: #c52e2e; */
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*****************************/
/**         BANNER           */
/*****************************/

.title-banner {
    background-color: #1565c0;
    width:100%;
    margin: 10px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-banner h1 {
    width: fit-content;
    font-size: 1.5em;
    color: white;
    font-weight: 600;

}


/*****************************/
/**        STEPPER           */
/*****************************/

.stepper-box {
    /* background-color: #7a9aae; */
    padding: 2.5rem;
    /* width: 70%; */
}

/* AFFICHAGE STEPPER MOBILE OU DESKTOP */
.stepper-mobile {
    display:none;
}
/*****************************/
/**           FORM           */
/*****************************/

form {
    /* background-color: #40a943; */
    min-height: 600px;
    width: fit-content;
    margin: 0px auto;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    border-radius: 5px;
    padding: 10px;
}

/*****************************/
/**    BUTTONS  & LABELS     */
/*****************************/

.MuiButton-root {
    margin: 16px 10px;
}

.MuiFormControlLabel-root {
    margin: 0 0.9rem;
}


/*****************************/
/**         INPUTS           */
/*****************************/


.input-wrapper {
    width: 90%;
    /* margin-bottom: 20px; */
    margin-top: 0;
}


@media screen and (max-width: 400px) {
    form {
    min-height: fit-content;
    }
}



/*****************************/
/**    AFFICHAGE FINAL       */
/*****************************/


/* Si écran inférieur à 800px : changement de stepper */
@media screen and (max-width: 900px){
    .stepper-desktop {
        display:none;
    }
    .stepper-box {
        display: none;
    }
    .stepper-mobile {
        display:block;
        /* background-color: #fbfbfb; */
        /* margin: 20px auto; */
        width: 50%;
    }
    .MuiMobileStepper-dots {
        padding: 10px;
        justify-content: center;
        gap: 10px;
    }
    .MuiMobileStepper-dot {
        width: 0.7rem;
        height: 0.7rem;
    }
    .input-wrapper {
        margin: 1rem;
    }
}

/* DESKTOP STEP DOTS COLORS */
.custom-step-icon .MuiStepIcon-root.Mui-active{
    color:#1976d2;
} 
.custom-step-icon .MuiStepIcon-root.Mui-completed {
    color: #40a943;
}
.custom-step-icon .MuiStepIcon-root {
    color: #c4c4c4;
}
/* label step non complétés */
.custom-disabled-step-label .Mui-disabled {
    color: #c4c4c4;
}



h4 {
    font-weight: 500;
    color: red;
  }

/*****************************/
/**       ACCORDION          */
/*****************************/

.MuiPaper-root {
    border: none;
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px; */
}
.accordion-summary {
    margin: 12px 0;
}

/*****************************/
/**     HELP  CARDS          */
/*****************************/

.card-header {
    min-height: 70px;
    background-color: #1565c0;
    padding: 12px;
    text-align: center;
}

.card-title {
    color: white;
}

.card-content {
    padding: 8px;
}

.card-content-text {
    color: grey;
    white-space: pre-line;
}

.card-content-text strong {
    color: #000000;
}



